@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.dark .ql-toolbar {
    background-color: rgb(13, 29, 59); 
    color: rgb(249 250 251);
}

.dark .ql-container {
    background-color: rgb(55, 65, 81); 
    color: rgb(249 250 251);
}

.ql-toolbar {
    background-color: rgb(241 245 249);
    color: rgb(17 24 39);
}

.ql-container {
    background-color: rgb(241 245 249);
    color: rgb(17 24 39); 
}

.ql-editor {
    height: 100%;
    font-size: 1.05rem;
}
